.header{
    height: 80px;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
}
.header a{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    padding-left: 37px;
    
}
.header a:hover{
    color: orange;
}